# Python virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# IDE files
.idea/

# OS files
.DS_Store
Thumbs.db

#initial learning file, not in scope of student project
z_learning/

